@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
  }
}

@layer components {
  .section {
    @apply py-20;
  }
  
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}
